<table>
  <thead>
    <tr>
      <th>Logo</th>
      <th>Nombre del Producto</th>
      <th>Descripcion</th>
      <th>Fecha de Liberacion</th>
      <th>Fecha de Restructuracion</th>
      <th></th>
    </tr>
  </thead>
  <tbody *ngIf="$paginator | async as paginator">
    <tr *ngFor="let product of products | filterTable:searchTerm : paginator.pageSize">
      <td>
        <img class="logo-img" [src]="product.logo" alt="">
      </td>
      <td>{{ product.name }}</td>
      <td>{{ product.description }}</td>
      <td>{{ product.date_release }}</td>
      <td>{{ product.date_revision }}</td>
      <td>
        <button class="options" (click)="selected == product.id ? selected = '' : selected = product.id" type="button" cdkOverlayOrigin #trigger="cdkOverlayOrigin">
          {{selected == product.id ? "X" : "Options"}}
          <ng-template
            cdkConnectedOverlay
            [cdkConnectedOverlayOrigin]="trigger"
            [cdkConnectedOverlayOpen]="selected == product.id"
            >
              <ul class="example-list">
                <li (click)="deleteProduct(product)">Eliminar</li>
                <li (click)="editProduct(product)">Editar</li>
              </ul>
            </ng-template>
        </button>       
        
        <!-- <button (click)="deleteProduct(product)">Eliminar</button>
        <button (click)="editProduct(product)">Editar</button> -->
      </td>
  </tbody>
</table>

