<table>
  <thead>
    <tr>
      <th>Logo</th>
      <th>Nombre del Producto</th>
      <th>Descripcion</th>
      <th>Fecha de Liberacion</th>
      <th>Fecha de Restructuracion</th>
    </tr>
  </thead>
  <tbody *ngIf="$paginator | async as paginator">
    <tr *ngFor="let product of products | filterTable:searchTerm : paginator.pageSize">
      <td>
        <img class="logo-img" [src]="product.logo" alt="">
      </td>
      <td>{{ product.name }}</td>
      <td>{{ product.description }}</td>
      <td>{{ product.date_release }}</td>
      <td>{{ product.date_revision }}</td>
  </tbody>
</table>
