<section *ngIf="paginator$ | async as paginator ">
    <div class="total">
        {{paginator.total}} Resultado(s)
    </div>
    
    <div class="pagination-container">
        <div>
            <select (change)="onChangePaginationSize($event)" id="pageSize">
                <option selected value="5">5</option>
                <option value="10">10</option>
                <option value="20">20</option>
            </select>
        </div>
        <!-- <div class="pagination">
            <button id="prev"> << </button>
            <div id="options">
                <button>1</button>
                <button>2</button>
                <button>3</button>
            </div>
            <button id="next">>></button>
        </div> -->
    </div>
</section>