section{
    background-color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    .pagination-container{
        display: flex;  
        justify-content: center;
        align-items: center;
        .pagination{
            display: flex;
            border: 1px solid #ccc;
            border-radius: 5px;
            gap: 0.5rem;
            #prev{
                cursor: pointer;
                background: none;
                border: none;
                font-size: 20px;
            }
            #next{
                cursor: pointer;
                background: none;
                border: none;
                font-size: 20px;
            }
        }
        select{
            padding: 5px;
            option{
                font-size: 15px;
            }
        }
    }
}