<div class="main-container">
    <section>
        <span class="back" routerLink="/products"><</span>
        <span>{{title}}</span>
    </section>
    <form [formGroup]="formProduct">
        <app-input-form label="Id" [disabled]="editMode" [type]="'text'" placeholder="Ingrese el id" formControlName="id" [fc]="formProduct.get('id')"></app-input-form>
        <app-input-form label="Nombre" [type]="'text'" placeholder="Ingrese el Nombre" formControlName="name" [fc]="formProduct.get('name')"></app-input-form>
        <app-input-form label="Descripcion" [type]="'text'" placeholder="Ingrese la descripcion" formControlName="description" [fc]="formProduct.get('description')"></app-input-form>
        <app-input-form label="Logo" [type]="'text'" placeholder="Ingrese la URL logo" formControlName="logo" [fc]="formProduct.get('logo')"></app-input-form>
        <app-input-form label="Fecha de Liberacion" [type]="'date'" formControlName="date_release" [fc]="formProduct.get('date_release')"></app-input-form>
        <app-input-form label="Fecha de Revision" [disabled]="true" [type]="'date'" formControlName="date_revision" [fc]="formProduct.get('date_revision')"></app-input-form>
    </form>
    <div class="buttons" *ngIf="!editMode else otherbuttons">
        <button type="button" class="btn form gray" (click)="resetForm()">Reiniciar</button>
        <button type="button" class="btn form " (click)="submit('new')">Agregar</button>
    </div>      
    <ng-template #otherbuttons>
        <div class="buttons">
            <button type="button" class="btn form " (click)="submit('edit')">Editar</button>
        </div>
    </ng-template>
</div>