.main-container{
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    padding: 5rem;
    section{
      border-bottom: 1px solid black;
      background-color: white;
      padding: 2rem;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      span{
        font-size: 2rem;
        font-weight: bold;
        color: var(--primary-color)
      }
      .back{
        margin-right: 1rem;
        cursor: pointer;  
        font-size: 3rem;
      }
    }
    .buttons{
      background-color: white;
      padding: 2rem;
      text-align: center;
      display: flex;
      justify-content: space-evenly;
    }
    form{
      background-color: white;
      padding: 2rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 2rem;

    }
  }